
/C\#/Ismetles_Console_WPF/.vs
/C\#/telefon_Console_WPF/.vs
/C\#/oktato_program/.vs
/C\#/primszamok/.vs
C\#/lotto_project/.vs/lotto_project/FileContentIndex/423431ff-aa03-413d-aa6b-5d86d8c85ce1.vsidx
C\#/lotto_project/.vs/lotto_project/FileContentIndex/08d76946-50c7-4daf-9e92-879935eb66da.vsidx
C\#/verseny_eredmenyek/verseny_eredmenyek/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
C\#/verseny_eredmenyek/.vs/verseny_eredmenyek/v17/.suo
C\#/ConsoleApp_Nobel/.vs/ConsoleApp_Nobel/FileContentIndex/10daedfb-a16f-4f93-ba4a-f523e346355a.vsidx
*.vsidx
C\#/ConsoleApp_Nobel/.vs/ConsoleApp_Nobel/v17/.suo
C\#/ConsoleApp_Nobel/.vs/ConsoleApp_Nobel/v17/.suo
C\#/ConsoleApp_tombok_es_listak_hasznalata/.vs/ConsoleApp_tombok_es_listak_hasznalata/v17/.suo
C\#/ConsoleApp_txt_kezeles_es_lista/.vs/ConsoleApp_txt_kezeles_es_lista/v17/.suo
