.keret1{
  width: 70%;
  text-align: center;
  margin: auto;
  border: 2px solid blue;
  margin-top: 10px;
  margin-bottom: 10px;
}
.keret2{
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.keretLila{
  border: 2px solid darkorchid;
}
.keretZold{
  border: 2px solid darkolivegreen;
}
.keretPiros{
  border: 2px solid darkred;
}
.kepkinezet{
  width: 60%;
}
.lenyiloDiv{
  text-align: center;
}